.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 50px 100px;
  background: transparent;
  z-index: 10;
  position: relative;
}

.header>span {
  font-family: 'Cascadia Code PL';
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 250px;
}

.header>div {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  font-family: 'Courier New';
  font-size: 1.1rem;
  margin-left: 40px;
  flex: 1;
}

.link:hover {
  color: #5AFFEE;
}

.blue {
  color: #5AFFEE;
}

@media screen and (max-width: 1200px) {
  .header {
    margin: 20px 30px;
    flex-direction: column;
  }

  .header>span {
    margin-bottom: 20px;
  }

  .header>div {
    width: 100%;
    flex-wrap: wrap;
  }

  .link {
    margin: 0;
    margin-bottom: 10px;
    min-width: 300px;
    text-align: center;
  }
}